.first {
  background-color: #f2b988;
  padding: 10vw;
  p {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
  }
  .btn-morado {
    background-color: #5f49af;
    font-size: 15px;
    color: #fff;
  }

  .husky-landing {
    width: 100%;
  }
  .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
}
.second {
  padding: 10vw;
  .service {
    background-color: #e7e4f2;
    width: 100%;
    padding: 5vw;
    border-radius: 10px;
  }
  h2 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #6756a6;
  }
  p {
    color: #000000;
    font-size: 15px;
    font-weight: 300;
  }
}
.third {
  background-color: #e7e4f2;
  padding: 10vw;
  p {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
  }
  .btn-morado {
    background-color: #5f49af;
    font-size: 15px;
    color: #fff;
  }

  .husky-landing {
    width: 100%;
  }
  .right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  h2 {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #6756a6;
  }
}
.fourth {
  padding: 10vw;
  .title-plans {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #6756a6;
  }
}
.fifth {
  background-color: #f2b988;
  padding: 10vw;

  p {
    color: #000000;
    font-size: 20px;
    font-weight: 300;
  }
  .btn-morado {
    background-color: #5f49af;
    font-size: 15px;
    color: #fff;
  }
}
